<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Login</title>
</head>
<body>
	<h3>Sign to Account</h3>
	<form action="/login" method="post" autocomplete="off">
	
		<div>
			<label>Username (login)</label>
			<input type="text" placeholder="Username" name="username"
				autocomplete="off">
		</div>
		<div>
			<label>Password (pwd)</label>
			<input type="password" placeholder="Password" name="password"
				autocomplete="off">
		</div>
		<div>
			<button type="submit">Sign In</button>
		</div>
	</form>

</body>
</html>